/*
    -----------------
  nav bar styles
  -----------
*/
#logo-img{
    float: left;
}
.navbar-left a{
    margin-top:15px;
}
.navbar.navbar-inverse.navbar-default {
    background: linear-gradient(to bottom right,#72BDFD 0,#357ebd 100%);
    border: none;
    min-height: inherit;

}
.nav.navbar-nav.navbar-right{
    margin: 15px;
    font-size: 18px;
}
.navbar.navbar-inverse.navbar-default  a{
    color: #ffffff;

}
.open>.dropdown-menu{
    background: #3492E4;
}
.navbar.navbar-inverse.navbar-default  a:hover{
    color: brown;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background: #D7DAEB !important;
}
/* ---------ends------------  */
/*
    ---------------
  grievance print page
    -------------------
*/
#printThis{
    border: 4px ridge #36383A;
    display:block;
    padding:1%;
    margin:1%;
    font: bold normal normal 15px/1.0 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#printThis p{
    margin: 12px 75px;
    color: rgb(50, 1, 119);
    padding: 7px;
    font: bold normal  normal 18px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#printThis p .span4{
    float: right;
    font-weight: 500;
    font-style: normal;
    color: rgb(69, 85, 148);
}
header img #printLogo{
    margin: 10px;
}
header div {
    text-align: center;
    color: lightslategrey;
    font-size:30px;
}
/* ----------
    ends here
    --------------
*/
.modal-content {
    margin-top: 100px !important;
}
.my-nav-btn {
    margin-top: 10px;
    margin-left: 5px;
}
textarea {
    resize: none;
}
tbody .buttons-td {
    width:145px;
}
tbody a {
    margin-left: 5px;
}
#document {
    width:500px;
    height: 400px;
    padding-left: 20px;
}
#grievancesTable {
    margin-top: 40px;
}
#userGrievancesTable {
    margin-top: 40px;
}
.star-label {
    color: red;
}
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
/*------
for model dialog print---------- */
@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}
/* -----ends here-------  */


/*
 ---------------------
                    screen for tablets of screen width:768px
 -----------------------
 */
@media only screen and (max-width:768px) {
    html{
        margin: auto;
        width: 95%;
        clear: both;
    }
    .navbar{
        position: relative;
    }
    .navbar ul{
        padding-left: 0;
    }
    .navbar ul li{
        width: 100%;
        text-align: center;
        padding: 1%;

    }
    .navbar.navbar-inverse.navbar-default  a:link,.navbar.navbar-inverse.navbar-default  a:visited{
        display: block;
        height: 30px;
        padding: 10px 45px;
    }
    .navbar-left img{
        width: 15%;
    }
    .navbar.navbar-inverse.navbar-default  a:hover,.navbar.navbar-inverse.navbar-default  a:active
    .navbar.navbar-inverse.navbar-default  a:link,.navbar.navbar-inverse.navbar-default  a:visited
    {
        background-color: #D7DAEB;
        text-shadow: none;
    }
    @-moz-document url-prefix() {
        fieldset { display: table-cell; }
    }
}

