//
   Created by chinna on 7/8/14.
section.container
    .row(uploader="uploader")
        .col-lg-12
            .panel.panel-primary
                .panel-heading Grievances
                .panel-body
                    .col-xs-4.pull-right
                        input(type="search", class="form-control", ng-model="grievanceKey", placeholder="search by mobile number")
                    .table-responsive
                        table#grievancesTable(class="table table-striped table-bordered table-condensed")
                            thead
                                tr
                                    th #
                                    th Grievance Type
                                    th Department
                                    th Scheme
                                    th Requirement
                                    th Name
                                    th Mobile Number
                                    th Constituency
                                    th
                                        | Applied Date
                                        br
                                        | (mm/dd/yyyy Time)
                                    th Status
                            tbody
                                tr(ng-repeat='grievance in grievances | orderByPriority | filter: grievanceKey | orderBy : predicate')
                                    td(class='buttons-td')
                                        a.btn.btn-info(href="", ng-click="showDetails(grievance)")
                                            i.icon-trash.icon-white
                                            | Details
                                        a.btn.btn-info(href="", data-toggle="modal", data-target="#myDoc", ng-click="showDoc(grievance)")
                                            i.icon-trash.icon-white
                                            | Doc
                                    td
                                        span {{ grievance.grievanceType }}
                                    td
                                        span {{ grievance.department }}
                                    td
                                        span {{ grievance.scheme }}
                                    td
                                        span {{ grievance.requirement }}
                                    td
                                        span {{ grievance.name }}
                                    td
                                        span {{ grievance.phoneNumber }}
                                    td
                                        span {{ grievance.constituency }}
                                    td
                                        span {{ grievance.applicationDate }}
                                    td
                                        span {{ grievance.status }}

                    #myDoc.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#myModalLabel.modal-title Grievance Document
                                .modal-body
                                    canvas(id='document')
                                .modal-footer
                                    button.btn.btn-warning(type='button', data-dismiss='modal') Close
