//
   Created by chinna on 5/8/14.

div(id='loginModal', tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header.btn-primary
                h2(class='text-center') Sign In
            .modal-body
                form.white-row(ng-submit='signIn(credentials)')
                    .row
                        .form-group(ng-class="{'has-error':(error),'has-success':(passwordError)}")
                            .col-md-12
                                label Email
                                input#username.form-control(ng-model='credentials.username', name='username', type='text', value='', placeholder='Email', autofocus, required)
                    | &nbsp;
                    .row
                        .form-group(ng-class="{'has-error':(passwordError),'has-error':(error)}")
                            .col-md-12
                                label Password
                                input#password.form-control(ng-model='credentials.password', name='password', type='password', value='', placeholder='Password', required)
                    | &nbsp;
                    .row
                        .form-group
                            .col-md-6
                                input.btn.btn-info.pull-left(type='submit', id='btn-signIn', value='Sign In')
                    | &nbsp;
                    .row
                        .alert.alert-danger(ng-show="error")
                            i.fa.fa-frown-o
                            | {{ errorMessage }}
                            //| Invalid&nbsp;
                            //strong Username/Email
                            //| &nbsp;or&nbsp;
                            //strong Password
                            //| &nbsp;
                        //.alert.alert-danger(ng-show="passwordError")
                        //    i.fa.fa-frown-o
                        //    | Invalid&nbsp;
                        //    strong Password
                        //    | &nbsp;
            .modal-footer(id='footer')
