//
   Created by chinna on 5/8/14.

div#nav-bar
    nav.navbar.navbar-inverse.navbar-default(role='navigation')
        div.navbar-header
            a.navbar-brand(href='#') PTS
        ul.nav.navbar-nav.navbar-right
            li
                a(ui-sref='newGrievance') New Grievance
            li
                a(ui-sref='admin') Admin
            li
                a(ui-sref='login') Sign In


