//
   Created by chinna on 5/8/14.

div#nav-bar
    nav.navbar.navbar-inverse.navbar-default(role='navigation')
        div.navbar-header
            a.navbar-brand(href='#') PTS
        ul.nav.navbar-nav.navbar-right
            li
                a(ui-sref='userDashboard') Grievances
            li
                a(ui-sref='newGrievance') New Grievance
            li(class='dropdown')
                a(class='dropdown-toggle' data-toggle='dropdown')
                    | Admin
                    b(class='caret')
                ul(class='dropdown-menu')
                    li
                        a(ui-sref='admin') Grievances
                    li(class='divider')
                    li
                        a(ui-sref='newDepartment') Add Department
                    li(class='divider')
                    li
                        a(ui-sref='newScheme') Add Scheme
                    li(class='divider')
                    li
                        a(ui-sref='createUser') Create User
                    li(class='divider')
                    li
                        a(ui-sref='login') Logout


