//
   Created by chinna on 5/8/14.

div(id='nav-bar', role='dialog')
    nav(class='navbar navbar-inverse navbar-default', role='navigation')
        .navbar-header
            div(class='nav navbar-nav navbar-left')
                a(class='navbar-brand')
                    | PTS
        div(class='collapse navbar-collapse', id='bs-example-navbar-collapse-1')
            ul(class='nav navbar-nav navbar-right')
                li(class="my-nav-btn")
                    input.btn.btn-primary.pull-left(type='button', id='nav-signIn', value='Sign in', ui-sref='signIn')