//
   Created by chinna on 11/8/14.

div
    section.container
        .row
            .col-lg-12
                .panel.panel-primary
                    .panel-heading Grievances
                    .panel-body
                        .loader-div(ng-show='loading')
                            //img.noImage(src = '../images/loader.jpg')
                            //br
                            h4 Loading, Please wait...
                        .main-div(ng-show="loadDone")
                            .search.col-xs-4.pull-left
                                button.btn.btn-info(ui-sref='newGrievance')
                                    i.glyphicon.glyphicon-plus
                                    |   Create New
                            .search.col-xs-4.pull-right
                                input(type="search", class="form-control", ng-model="filter.$", placeholder="search here..")

                            .table-responsive
                                table#userGrievancesTable(class="table table-striped table-bordered table-condensed", ng-table='tableParams')
                                    //thead
                                    //    tr
                                    //        th #
                                    //        th Reference Id
                                    //        th Name
                                    //        th Mobile Number
                                    //        //th Grievance Type
                                    //        th Department
                                    //        th Scheme
                                    //        th Requirement
                                    //        th Applied Date
                                    //        th Responded Date
                                    //        th Status
                                    //        th Message
                                    tbody
                                        tr(ng-repeat='grievance in $data | orderByPriority | orderBy : predicate')
                                            td(data-title='"#"')
                                                //{{ grievance.status }}
                                                a.btn.btn-sm.btn-warning(href="", ng-click="editDetails(grievance)", ng-if='grievance.status == "Open"')
                                                    i.glyphicon.glyphicon-edit
                                                    |   Edit
                                                a.btn.btn-sm.btn-info(href="", data-toggle="modal",id='grievancePrint', data-target="#myDetails", ng-click="showDetails(grievance)")
                                                    i.glyphicon.glyphicon-print
                                                    |   Print
                                            td(data-title='"Reference Id"')
                                                span {{ grievance.referenceNum }}
                                            td(data-title='"Name"')
                                                span {{ grievance.name }}
                                            td(data-title='"Mobile Number"')
                                                span {{ grievance.phoneNumber }}
                                            //td
                                            //    span {{ grievance.grievanceType }}
                                            td(data-title='"Department"')
                                                span {{ grievance.department }}
                                            td(data-title='"Scheme"')
                                                span {{ grievance.scheme }}
                                            td(data-title='"Requirement"')
                                                span {{ grievance.requirement }}
                                            td(data-title='"Applied Date"')
                                                span {{ grievance.applicationDate }}
                                            td(data-title='"Responded Date"')
                                                span {{ grievance.respondedDate }}
                                            td(data-title='"Status"')
                                                span {{ grievance.status }}
                                            td(data-title='"Message"')
                                                span {{ grievance.message }}

                            //.pull-right
                            //    button.btn.btn-info.btn-sm#prev(ng-click='pageBack()', ng-disabled='noPrevious')
                            //        i.glyphicon.glyphicon-arrow-left
                            //        |   Previous
                            //    button.btn.btn-info.btn-sm#next(ng-click='pageNext()', ng-disabled='noNext')
                            //        |   Next
                            //        &nbsp;
                            //        i.glyphicon.glyphicon-arrow-right


div#printThissdf
    #myDetails.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    //button.close(type='button btn-primary', data-dismiss='modal' data-target='.bs-example-modal-lg')
                    //    span(aria-hidden='true') ×
                    //    span.sr-only Close
                .modal-body
                    div#printThis
                        header
                            div
                                | Grievance Report
                        p
                            span.span3.offset2 Reference Id
                            span.span4.offset2 {{ grievanceById.referenceNum }}
                        p
                            span.span3.offset2 Name
                            span.span4.offset2 {{ grievanceById.name }}
                        p
                            span.span3.offset2 Father Name
                            span.span4.offset2 {{ grievanceById.fatherName }}
                        p
                            span.span3.offset2 DOB
                            span.span4.offset2 {{ grievanceById.dob }}
                        p
                            span.span3.offset2 Phone Number
                            span.span4.offset2 {{ grievanceById.phoneNumber }}
                        p
                            span.span3.offset2 Education
                            span.span4.offset2 {{ grievanceById.education }}
                        p
                            span.span3.offset2 Address
                            span.span4.offset2 {{ grievanceById.address }}
                        p
                            span.span3.offset2 GPU
                            span.span4.offset2 {{ grievanceById.gpu }}
                        p
                            span.span3.offset2 Ward
                            span.span4.offset2 {{ grievanceById.ward }}
                        p
                            span.span3.offset2 Constituency
                            span.span4.offset2 {{ grievanceById.constituency }}
                        p
                            span.span3.offset2 Department
                            span.span4.offset2 {{ grievanceById.department }}
                        p
                            span.span3.offset2 Scheme
                            span.span4.offset2 {{ grievanceById.scheme }}
                        p
                            span.span3.offset2 Grievance Type
                            span.span4.offset2 {{ grievanceById.grievanceType }}
                        p
                            span.span3.offset2 Note
                            span.span4.offset2 {{ grievanceById.note }}
                        p
                            span.span3.offset2 Requirement
                            span.span4.offset2 {{ grievanceById.requirement }}
                        p
                            span.span3.offset2 Status
                            span.span4.offset2 {{ grievanceById.status }}
                        p
                            span.span3.offset2 Responded Message
                            span.span4.offset2 {{ grievanceById.message }}
                        p
                            span.span3.offset2 Applied Date
                            span.span4.offset2 {{ grievanceById.applicationDate }}
                        p
                            span.span3.offset2 Responded Date
                            span.span4.offset2 {{ grievanceById.respondedDate }}
                .modal-footer
                    button.btn.btn-sm.btn-info(type='button', ng-click="viewPdf()")
                        i.glyphicon.glyphicon-print
                        |   Print
                    button.btn.btn-sm.btn-danger(type='button', data-dismiss='modal')
                        i.glyphicon.glyphicon-remove
                        |   Close
